@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mdx.css";

::-webkit-scrollbar {
	display: none;
}

.gradient-border {
	border: 1px solid;
	animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
	0% {
		border-image: linear-gradient(to right, #ff0000, #00ff00);
		border-image-slice: 1;
	}
	100% {
		border-image: linear-gradient(to right, #0000ff, #ff00ff);
		border-image-slice: 1;
	}
}
