[data-rehype-pretty-code-fragment] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-base;
	counter-reset: line;
	box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1rem;
	text-align: right;
	color: gray;
}
[data-rehype-pretty-code-title] {
	@apply py-2 px-3 mt-2 text-sm font-medium rounded-t bg-[#1f2028] text-white w-fit;
}
[data-rehype-pretty-code-title] + pre {
	@apply mt-0;
}

.article {
	@apply prose dark:prose-invert hover:prose-a:text-accent-foreground prose-a:prose-headings:mb-3 prose-a:prose-headings:mt-8 prose-a:prose-headings:font-heading prose-a:prose-headings:font-bold prose-a:prose-headings:leading-tight prose-a:prose-headings:no-underline;
}

code {
	counter-reset: line;
}

code > [data-line]::before {
	counter-increment: line;
	content: counter(line);

	/* Other styling */
	@apply inline-block w-4 mr-4 text-right text-gray-500;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
	width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
	width: 3rem;
}

[data-highlighted-line] {
	@apply !text-sky-300 bg-sky-800/40 border-l-sky-500 font-bold rounded-md p-1 border-l-2;
}

[data-highlighted-chars] {
	@apply !text-neon-cyan bg-neon-cyan/40 border-b-neon-cyan font-bold rounded-md  px-1 py-0.5 border-b-2;
}

[data-chars-id] {
	@apply shadow-none px-1 py-px border-b-2 font-bold;
}

[data-chars-id] span {
	@apply !text-inherit;
}

[data-chars-id="v"] {
	@apply !text-pink-500 bg-rose-800/30 border-b-pink-600;
}

[data-chars-id="s"] {
	@apply !text-yellow-500 bg-yellow-800/30 border-b-yellow-600;
}

[data-chars-id="i"] {
	@apply !text-purple-500 bg-purple-800/30 border-b-purple-600;
}
